In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [23]:
data = pd.read_csv('./mlr-sk.csv')
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [24]:
data.describe()

               SAT  Rand 1,2,3        GPA
count    84.000000   84.000000  84.000000
mean   1845.273810    2.059524   3.330238
std     104.530661    0.855192   0.271617
min    1634.000000    1.000000   2.400000
25%    1772.000000    1.000000   3.190000
50%    1846.000000    2.000000   3.380000
75%    1934.000000    3.000000   3.502500
max    2050.000000    3.000000   3.810000

In [25]:
x = data[['SAT','Rand 1,2,3']]
y = data['GPA']

In [26]:
reg = LinearRegression()
reg.fit(x,y)

LinearRegression()

In [27]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [28]:
reg.intercept_

0.29603261264909486

In [29]:
reg.score(x,y)

0.4066811952814282

### R Square Formula

$R^2_{adj.} = 1 - (1-R^2)*\frac{n-1}{n-p-1}$

In [30]:
x.shape

(84, 2)

In [31]:
r2 = reg.score(x,y)
n = x.shape[0]
p = x.shape[1]

adjusted_r2 = 1-(1-r2)*(n-1)/(n-p-1)
adjusted_r2

0.39203134825134