In [32]:
import random

import pandas as pd

In [33]:
def generate_data():
    return {
        "customers": random.randint(1, 9891),
        "revenue": random.randint(1123, 16101)
    }

In [34]:


data = [generate_data() for _ in range(100)]

In [35]:
df = pd.DataFrame(data)

In [36]:
df

    customers  revenue
0        4219     9660
1        5298    13934
2        8847     5282
3        6573    12669
4        2691     9593
..        ...      ...
95       8808     6723
96       1843     4519
97       4090    11784
98       9209    13382
99       6032    11063

[100 rows x 2 columns]

In [37]:
df.to_csv('././raw_data.csv', index=False)